.wrapper {
    position: relative;
    width: 100%;
    min-height: 650px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 1740px;
}

.title {
    font-family: $ff-titles;
    font-size: 63px;
    color: $dark;

    @include tablets {
        font-size: 49px;
    }

    @include phones {
        font-size: 35px;
    }
}

.subtitle {
    font-family: $ff-titles;
    font-size: 35px;
    color: $gray;
    margin-bottom: 30px;

    @include tablets {
        font-size: 30px;
    }

    @include phones {
        font-size: 21px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.body__active-menu {
    overflow: hidden;
}