@font-face {
    font-family: 'bernier_distressedregular';
    src: url('../fonts/bernier/bernierdistressed-regular-webfont.woff2') format('woff2'),
         url('../fonts/bernier/bernierdistressed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bernier_regularregular';
    src: url('../fonts/bernier/bernierregular-regular-webfont.woff2') format('woff2'),
         url('../fonts/bernier/bernierregular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bernier_shaderegular';
    src: url('../fonts/bernier/berniershade-regular-webfont.woff2') format('woff2'),
         url('../fonts/bernier/berniershade-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@mixin ff-titles($weight: regular) {
    @if $weight ==  regular {
        font-family: $ff-titles;
    }
    @if $weight == distressed {
        font-family: $ff-titles-distressed;
    }
    @if $weight == shade {
        font-family: $ff-titles-shade;
    }
}

@mixin ff-main($weight: 400, $style: normal) {
    font-family: $ff-main;
    @if $weight == 300 {
        font-weight: 300;
    }
    @if $weight == 400 {
        font-weight: 400;
    }
    @if $weight == 500 {
        font-weight: 500;
    }
    @if $weight == 700 {
        font-weight: 700;
    }
    @if $style == normal {
        font-style: normal
    }
    @if $style == italic {
        font-style: italic
    }
}