footer.footer
    .footer__row
        +footer-menu(footer_menu)
        +socials(socials_round)
    .footer__row
        .footer__text Я веб-разработчик из Полтавы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        include ../common/_copyright