a.hamburger-trigger(href="#")
        span.hamburger-trigger__bar.habmurger-trigger__bar_top
        span.hamburger-trigger__bar.habmurger-trigger__bar_middle
        span.hamburger-trigger__bar.habmurger-trigger__bar_bottom