.slider
    .slider__info
        .slider__info-wrap
            .title.subtitle.slider__info-title Сайт школы онлайн образования
            .slider__tags html, css, javascript
            a(href="#").slider__link-btn
                svg.slider__link-icon
                    use(xlink:href="assets/images/symbol/sprite.svg#link")
                .slider__link-text Посмотреть сайт
    .slider__display
        .slider__pic
            img.slider__img(src="assets/images/content/slides/slide-1.png")
    .slider__btns
        a(href="#").slider__btn-prev
            img.slider__btn-img(src="assets/images/content/slides/slide_prev-2.png")
            svg.slider__btn-icon
                use(xlink:href="assets/images/symbol/sprite.svg#portf_arrow_down")
            .slider__btns-overlay
        a(href="#").slider__btn-next
            img.slider__btn-img(src="assets/images/content/slides/slide_prev-3.png")
            svg.slider__btn-icon
                use(xlink:href="assets/images/symbol/sprite.svg#portf_arrow_up")
            .slider__btns-overlay