- 
    var socials = [
        {
            icon: 'vk',
            link: '#'
        },
        {
            icon: 'github',
            link: '#'
        },
        {
            icon: 'in',
            link: '#'
        }
    ]

- 
    var socials_round = [
        {
            icon: 'vk_round',
            link: '#'
        },
        {
            icon: 'github_round',
            link: '#'
        },
        {
            icon: 'in_round',
            link: '#'
        }
    ]

- 
    var menu = [
        {
            title: 'Мои работы',
            link: 'works.html'
        },
        {
            title: 'Обо мне',
            link: 'about.html'
        },
        {
            title: 'Блог',
            link: 'blog.html'
        }
    ]

- 
    var back_menu = [
        {
            title: 'На главную',
            link: '#'
        },
        {
            title: 'Войти',
            link: '#'
        }
    ]

- 
    var hero = {
        img: './assets/images/content/hero.jpg',
        title: 'Илья Максимов',
        subtitle: 'Личный сайт веб-разработчика'
    }

- 
    var arrow = {
        icon: 'arrow_down',
        link: '#'
    }

- 
    var skills = [
        {
            title: 'Frontend',
            list: ['HTML5', 'CSS3', 'JavaScript & jQuery']
        },
        {
            title: 'Backend',
            list: ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
        },
        {
            title: 'WorkFlow',
            list: ['Git', 'Gulp', 'Yarn', 'Webpack']
        }
    ]

- 
    var contacts = [
        {
            icon: 'skype',
            data: 'pilka2009',
            link: 'skype:'
        },
        {
            icon: 'envelope',
            data: 'ivashthestampede01@gmail.com',
            link: 'mailto:'
        },
        {
            icon: 'phone',
            data: '+79312009324',
            link: 'tel:'
        },
        {
            icon: 'map_marker',
            data: 'г.Полтава',
            link: 'http://maps.google.com/?q='
        }
    ]

- 
    var footer_menu = [
        {
            title: 'Мои работы',
            link: 'works.html'
        },
        {
            title: 'Обо мне',
            link: 'about.html'
        },
        {
            title: 'Блог',
            link: 'blog.html'
        },
        {
            title: 'Авторизация',
            link: 'index.html'
        }
    ]