// colors
$green: #00bfa5;
$darkGreen: #009688;
$gray: #455a64;
$dark: #373e42;
$orange: #e44845;

// fonts
$ff-main: 'roboto';
$ff-titles: 'bernier_regularregular';
$ff-titles-distressed: 'bernier_distressedregular';
$ff-titles-shade: 'bernier_shaderegular';

// resolutions
$desktops: 1800px;
$laptops: 1200px;
$tablets: 768px;
$phones: 480px;