extends ../_template

block variables
    - var title = 'Обо мне'

block content
    header.header.about-header
        include ../sections/_header
    include ../sections/_about-content
    include ../sections/_about-contacts
