extends ../_template

block variables
    - var title = 'Главная'

block content
    section.welcome
        .parallax#parallax
            - for (var i = 1; i <= 7; i++)
                .parallax__layer
                    img.parallax__img(src=`./assets/images/content/parallax/layer-${i}.png`)
            
        .welcome__authorisation
            .authorisation
                a.authorisation__link#authorisation-btn(href="#") Авторизоваться
        .welcome__hero
            .welcome__flipper
                .hero
                    .hero__data.hero__data_bg-white
                        +hero-pic(hero)
                        +hero-descr(hero)
                        .hero__socials
                            +socials(socials)
                    nav.hero__menu
                        +menu(menu)
                .authorisation-back
                    .hero__data_bg-white.authorisation-back__data
                        .authorisation__title.title.subtitle Авторизуйтесь
                        a(href="#").back На главную
        .welcome__copyright.copyright_white
            include ../common/_copyright

