section.blog-header
    .blog-header__container
        .blog-header__top
            .blog-header__socials
                +socials(socials)
            .blog-header__hamburger-trigger
                include ../common/_hamburger-trigger
        .blog-header__info
            .blog-header__pic
                img.blog-header__pic-img(src="./assets/images/content/hero.jpg")
            .blog-header__title
                .title Блог
            .blog-header__subtitle Статьи, которые я написал