section.blog-header
    include ../common/_triangles
    .blog-header__container
        .blog-header__top
            .blog-header__socials
                +socials(socials)
            .blog-header__hamburger-trigger
                include ../common/_hamburger-trigger
        .blog-header__info
            +hero-pic(hero)    
            .blog-header__title
                .title Блог
            .blog-header__subtitle Статьи, которые я написал