section.blog
    .blog__triangles
        svg.triangle.triangle_fill-white(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
            polygon.left(points="0,0   0,86   500.8,86   500.8,75.5")
            polygon.right(points="1000,0   1000,86   500,86   500,75.5")
    .blog__main
        .blog__side-menu
            ul.blog__side-list
                li.blog__side-item.blog__side-item_active
                    a.blog__side-link(href="#") Самое важное в SASS
                li.blog__side-item 
                    a.blog__side-link(href="#") Приемы в верстке, без которых не обходится ни один сайт
        .blog__content
            ul.blog__content-list
                li.blog__content-item
                    .blog__content-title Самое важное в SASS
                    .blog__content-date 22 ноября 2017
                    .blog__content-text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.blog__content-item
                    .blog__content-title Приёмы в вёрстке, без которых не обходится ни один сайт
                    .blog__content-date 13 ноября 2017
                    .blog__content-text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.