header.section__header
    .section__socials
        +socials(socials)
    .section__humburger-trigger
        include ../common/_hamburger-trigger
    .section__hero
        .hero
            .hero__data
                +hero-pic(hero)
                +hero-descr(hero)
    .section__arrow
        +arrow-down(arrow)