.header__socials
    +socials(socials)
.header__humburger-trigger
    include ../common/_hamburger-trigger
.header__hero
    .hero
        .hero__data
            +hero-pic(hero)
            +hero-descr(hero)
.header__arrow
    +arrow-down(arrow)
include ../common/_triangles