section.myworks
    .myworks__title
        .myworks__triangles
            .myworks__triangle.myworks__triangle_left
                svg.triangle.triangle_fill-white
            .myworks__triangle.myworks__triangle_right
                svg.triangle.triangle_fill-white
        .title.works__title #{title}
    .myworks__slider
        include ../common/_slider.pug
    .myworks__reviews
        .title.reviews__title Что обо мне говорят
        .reviews
            .reviews__col
                .reviews__quotes
                    i.fa.fa-quote-left
                .text-block.reviews__text
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .review-hero
                    .review-hero__pic
                        img.review-hero__pic-img(src="assets/images/content/reviews/review-1.jpg")
                    .reviews__info
                        .review-hero__name Ковальчук Дмитрий
                        .review-hero__descr основатель Loftschool
            .reviews__col
                .reviews__quotes
                    i.fa.fa-quote-left
                .text-block.reviews__text
                        p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!    
                .review-hero
                    .review-hero__pic
                        img.review-hero__pic-img(src="assets/images/content/reviews/review-2.jpg")
                    .reviews__info
                        .review-hero__name Сабанцев Владимир
                        .review-hero__descr преподаватель
        .reviews__form
            .title.subtitle.form__title Связаться со мной
            form.form__elem
                .form__elem-wrap
                    input.reviews__input(type="text" placeholder="Имя")
                    input.reviews__input(type="text" placeholder="Email")
                    textarea.revies__textarea(placeholder="Ваше сообщение")
                .form__btns
                    button.form__btn(type="submit" name="send") Отправить
                    button.form__btn(type="reset" name="reset") Очистить
        include ../common/_footer