.about__contacts {
    height: 100%;
    background-image: url('../images/bgs/map.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    position: relative;

    .subtitle {
        margin-bottom: rem(30px);
    }
}

.about__contacts-wrap {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);

    @include phones {
        top: 36%;
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}

.about__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}