.blog-header {
    background-image: url('../images/bgs/about_bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    padding-top: rem(35px);
    position: relative;

    .triangles {
        fill: #fff;
    }
}

.blog-header__container {
    max-width: rem(1144px);
    margin: 0 auto;
    background-image: url('../images/bgs/titles/blog_header-title_bg.png');
    background-position: 50% bottom;
    background-repeat: no-repeat;
}

.blog-header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20px);
}

.blog-header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-header__title {
    .title {
        color: #fff;
        
        &:before, &:after {
            background: rgba(#fff, .2);
        }
    }
}

.blog-header__subtitle {
    color: #fff;
}