.blog__main {
    display: flex;
    max-width: rem(1374px);
    margin: 0 auto;
}

.blog__side-menu {
    flex: .3;
    padding-right: 5%;

    @include tablets {
        display: none;
    }
}

.blog__content {
    flex: 1;

    @include tablets {
        padding: 0 2%;
    }
}

.blog__side-item {
    text-align: right;
    border-right: 3px solid transparent;
    padding: rem(14px) rem(16px) rem(14px) 0
}

.blog__side-item_active {
    border-color: $green;

    .blog__side-link {
        color: $green;
        @include ff-main(700);
    }
}

.blog__side-link {
    text-decoration: none;
    @include ff-main;
    color: $dark;
    transition: .35;

    &:hover {
        color: $green;
    }
}

.blog__content-item {
    margin-bottom: rem(50px);

    &:after {
        content: '';
        display: block;
        width: 70%;
        height: 5px;
        background: rgba($dark, .07);
        margin-top: rem(50px);
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.blog__content-title {
    @include ff-titles;
    font-size: rem(35px);
    margin-bottom: rem(20px);
}

.blog__content-date {
    @include ff-main;
    color: $green;
    margin-bottom: rem(20px);
}

.blog__content-text p {
    margin-bottom: rem(10px);

    &:last-child {
        margin-bottom: 0;
    }
} 