.myworks-header {
    position: relative;

    .triangles {
        fill: #faf8f0;
    }
}

.myworks {
    height: 100vh;
    background: #faf8f0;

    @include tablets {
        // height: initial;
    }
}

.myworks__title {
    text-align: center;
    padding-bottom: rem(30px);
    position: relative;
    z-index: 10;
}

.works__title {
    background-image: url('../images/bgs/titles/works-title_bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.myworks__reviews {
    background-image: url('../images/bgs/works_bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: rem(50px);
    padding-bottom: 15%;

    .footer {
        text-align: left;
    }

    @include laptops {
        padding-bottom: 25%;
    }

    @include tablets {
        padding-bottom: 50%;
    }

    @include phones {
        padding-bottom: 90%;
    }
}

.reviews__title {
    max-width: rem(320px);
    line-height: 1;
    background-image: url('../images/bgs/titles/about-title_bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin-bottom: rem(50px);
}

.reviews {
    display: flex;  
    max-width: rem(770px);
    margin: 0 auto rem(60px);
    padding: 0 rem(30px);

    @include tablets {
        padding: 0 rem(15px);
    }

    @include phones {
        flex-direction: column;
        margin-bottom: rem(30px);
    }
}

.reviews__col {
    flex: 1;
    margin-right: rem(30px);
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: rem(15px);
    }

    @include phones {
        margin-right: 0;
        margin-bottom: rem(20px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.reviews__quotes {
    font-family: 'FontAwesome';
    font-size: 36px;
    text-align: left;
    opacity: .2;

    @include phones {
        text-align: center;
    }
}

.reviews__text {
    margin-bottom: rem(20px);
}

.reviews__text p {
    text-align: left;

    @include tablets {
        font-size: rem(14px);
    }
}

.review-hero {
    display: flex;
    align-items: center;
}

.review-hero__pic {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(20px);

    @include tablets {
        margin-right: rem(10px);
    }

    @include phones {
        margin-right: rem(20px);
    }
}

.review-hero__pic-img {
    display: block;
    max-width: 100%;
}

.reviews__info {
    text-align: left;

    @include tablets {
        font-size: rem(14px);
    }
}

.review-hero__name {
    @include ff-main(700);
    color: $green;
}

.review-hero__descr {
    @include ff-main;
    color: $green;
}

.reviews__form {
    max-width: rem(380px);
    margin: 0 auto;
    background: rgba(#fff, .2);
    border-radius: 5px;
    padding-top: rem(30px);
    overflow: hidden;
    position: relative;

    @include phones {
        width: 90%;
    }
}

.form__title {
    margin-bottom: rem(30px);
}

.form__elem {
    display: flex;
    flex-direction: column;
}

.form__elem-wrap {
    padding: 0 rem(20px) rem(20px);
    display: flex;
    flex-direction: column;
}

.reviews__input {
    margin-bottom: rem(20px);
    padding: rem(16px) rem(20px);
    border-radius: 5px;
    border: none;

    @include phones {
        font-size: rem(14px);
    }
}

.revies__textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    padding: rem(16px) rem(20px);
    height: rem(140px);

    @include phones {
        font-size: rem(14px);
    }
}

.form__btns {
    display: flex;
}

.form__btn {
    flex: 1;
    border: 0;
    outline: none;
    cursor: pointer;
    border-right: 2px solid rgba(#dee3e7, .5);
    background: rgba($green, .3);
    color: #fff;
    padding: rem(15px) 0;
    transition: .35s;

    &:last-child {
        border-right: 0; 
    }

    &:hover {
        background: $green;
    }

    @include phones {
        font-size: rem(14px);
    }
}

.myworks__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}