.welcome {
    width: 100%;
    height: 100%;
    // background-image: url('../images/bgs/welcome_bg.jpg');
    // background-position: center top;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: flex;
}

#parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $parallax;
}

.parallax__layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.welcome__authorisation {
    position: absolute;
    top: 4%;
    right: 2%;

    @include phones {
        right: 50%;
        transform: translateX(50%);
    }
}

.authorisation {
    display: inline-block;
    width: rem(180px);
    text-align: center;
}

.authorisation__link {
    text-decoration: none;
    @include ff-main(500);
    color: #fff;
    display: block;
    padding: rem(10px) 0;
    border: 1px solid #fff;
    border-radius: rem(5px);
    transition: .35s;

    &:hover {
        background: #fff;
        color: $green;
    }
}

.welcome__hero {
    display: inline-block;
    margin: auto;
    border-radius: rem(5px);
    overflow: hidden;
    position: relative;

    .hero__descr {
        color: $dark;
    }

    @include phones {
        width: 94%;
    }
}

.hero__socials {
    display: inline-block;

    .socials__link-img {
        fill: rgba($green, .5);
    }

    .socials__link:hover {
        .socials__link-img {
            fill: $green;
        }
    }
}

.welcome__copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    width: 100%;
    text-align: center;
}