// config
@import "config/_variables";
@import "config/_mixins";
@import "config/_media";

// base
@import "layout/_fonts";
@import "layout/_normalize";
@import "layout/_base";
@import "layout/_adjustment";
@import "layout/fontawesome/font-awesome";

// common
@import "common/_hero";
@import "common/_socials";
@import "common/_menu";
@import "common/_copyright";
@import "common/_hamburger-trigger";
@import "common/_arrow-down";
@import "common/_titles";
@import "common/_user";
@import "common/_text-block";
@import "common/_contacts";
@import "common/_footer";
@import "common/_slider";
@import "common/_triangles";
@import "common/_skills";
@import "common/_header";
@import "common/_authorisation";

// blocks
@import "sections/_welcome";
@import "sections/_about-header";
@import "sections/_about-content";
@import "sections/_about-contacts";
@import "sections/_myworks";
@import "sections/_blog-header";
@import "sections/_blog-content";