.authorisation-back__data {
    padding: rem(30px) 0 0;
}

.authorisation__title {
    margin-bottom: rem(30px);
    text-align: center;
    display: block;
}

.form__row {
    padding: 0 5%;
    position: relative;
    margin-bottom: rem(20px);
}

.form__block {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.form__input {
    width: 100%;
    padding: 12px 15px 12px 60px;
    border: none;
    outline: none;
}

.form__input-ico {
    width: 46px;
    height: 46px;
    background: #f0efe9;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input-svg {
    fill: #c4cbcd;
}

.form__options {
    position: relative;
}

.form__options-row {
    text-align: center;
    margin-bottom: rem(15px);
}

.form__checkbox-label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        background: $green;
        display: block;
        position: absolute;
        border-radius: 3px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.form__checkbox-icon {
    position: absolute;
    left: 10px;
    top: 11px;
    transform: translate(-50%, -50%) scale(.5);
    fill: #fff;
    opacity: 0;
    transition: .35s;
}

.form__checkbox:checked {
    &+.form__checkbox-label {
        .form__checkbox-icon {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.form__options-title {
   @include ff-main(700); 
}

.form__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 40px;
    display: inline-block;

    &:last-child {
        margin-right: 0;
    }

    &:before {
        content: '';
        width: 20px;
        height: 20px;
        background: #fff;
        display: block;
        position: absolute;
        border-radius: 50%;
        border: 1px solid #cfd0d0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: $green;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(-50%, -50%) scale(.5);
        opacity: 0;
        transition: .35s;
    }
}

.form__radio:checked {
    &+.form__radio-label {
        &:after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.form__options-btns {
    @include tablets {
        margin-top: 22px;
    }

    @include phones {
        margin-top: 0;
    }
}

.form__options-list {
    display: flex;
}

.form__options-item {
    display: block;
    border-right: 2px solid #73c8c0;
    flex: 1;

    &:last-child {
        border-right: none;
    }
}

.form__options-link {
    text-decoration: none;
    display: block;
    @include ff-main(500);
    font-size: rem(16px);
    color: #fff;
    padding: rem(12px) 0;
    background: rgba($green, .85);
    transition: .5s;
    text-align: center;

    &:hover {
        background: rgba($darkGreen, .85);
    }
}