.copyright {
    @include ff-main(300);
    font-size: rem(16px);

    &_white {
        color: #fff;
    }

    @include tablets {
        font-size: rem(14px);
    }

    @include phones {
        font-size: rem(13px);
        text-align: center;
    }
}