.copyright {
    @include ff-main(300);
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;

    @include tablets {
        font-size: 14px;
    }

    @include phones {
        flex-direction: column;
    }
}