.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba($dark, .85);
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px) rem(30px);

    &:first-child {
        border-bottom: 1px solid rgba(#fff, .1);
    }

    .socials__link {
        width: 100%;
        height: 100%;
    }

    .socials__link-img {
        width: 100%;
        height: 100%;
    }

    .copyright {
        color: rgba(#fff, .5);
    }
}

.footer-menu {
    display: inline-flex;
}

.footer-menu__item {
    margin-right: rem(30px);

    &:last-child {
        margin-right: 0;
    }
}

.footer-menu__link {
    text-decoration: none;
    @include ff-main(500);
    color: #fff;
    transition: .35s;

    &:hover {
        color: $green;
    }
}

.footer__text {
    @include ff-main(300);
    color: rgba(#fff, .5);
    font-size: rem(16px);
    max-width: rem(510px);
}