.hamburger-trigger {
    display: inline-block;
    width: rem(40px);
    height: rem(36px);
    position: relative;

    @include phones {
        width: rem(25px);
        height: rem(22px);
    }
}

.hamburger-trigger_active {
    .habmurger-trigger__bar_top {
        transform: translateY(-50%) rotate(-45deg);
        top: 50%;
    }

    .habmurger-trigger__bar_middle {
        opacity: 0;
    }

    .habmurger-trigger__bar_bottom {
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
    }
}

.hamburger-trigger__bar {
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: rem(3px);
    display: block; 
    position: absolute;
    transition: .5s;

    @include phones {
        height: 4px;
    }
}

.habmurger-trigger__bar_middle {
    top: 50%;
    transform: translateY(-50%);
}

.habmurger-trigger__bar_bottom {
    bottom: 0;
}