.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero__pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 12px;
}

.hero__pic-img {
    display: inline-block;
    max-width: 100%;
}

.hero__title {
    @include ff-main(500);
    font-size: 35px;
    color: #fff;
    display: block;

    @include phones {
        font-size: 21px;
    }
}

.hero__subtitle {
    @include ff-main(300);
    font-size: 16px;
    color: #fff;
    display: block;

    @include phones {
        font-size: 14px;
    }
}