.welcome-menu {
    display: flex;
    background: rgba($green, .85);
}

.welcome-menu__item {
    flex: 1;
    border-right: 2px solid rgba(#fff, .5);

    &:last-child {
        border-right: none;
    }
}

.welcome-menu__link {
    text-decoration: none;
    display: block;
    @include ff-main(500);
    font-size: 16px;
    color: #fff;
    padding: 12px 0;
    transition: .35s;

    &:hover {
        background: $darkGreen;
    }

    @include phones {
        font-size: 14px;
    }
}