.socials {
    display: inline-flex;
    align-items: baseline;
}

.socials__item {
    width: rem(32px);
    height: rem(32px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: rem(30px);

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    display: block;

    &:hover {
        .socials__link-img {
            fill: $green;
        }
    }
}

.socials__link-img {
    fill: rgba($green, .5);
    display: block;
    width: rem(30px);
    height: rem(22px);
}