.socials {
    display: inline-flex;
    justify-content: center;
}

.socials__item {
    flex: 1;
    padding: 0 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.socials__link-img {
    width: 28px;
    height: 22px;
    fill: rgba($green, .5);
    transition: .35s;

    &:hover {
        fill: $green;
    }
}