.title {
    @include ff-titles;
    font-size: rem(65px);
    color: $dark;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 0 25px;

    @include tablets {
        font-size: rem(49px);
    }

    @include phones {
        font-size: rem(35px);
    }

    // &:before, &:after {
    //     content: '';
    //     width: 22px;
    //     height: 5px;
    //     background: rgba($dark, .2);
    //     display: inline-block;
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    // }

    // &:before {
    //     left: 0;
    // }

    // &:after {
    //     right: 0;
    // }
}

.subtitle {
    font-size: rem(35px);

    @include tablets {
        font-size: rem(30px);
    }

    @include phones {
        font-size: rem(21px);
    }
}