.user {
    width: 100%;
}

.user__photo {
    margin-bottom: rem(40px);
    width: 100%;
}

.user__photo-img {
    display: block;
    max-width: 100%;
}

.user__title {
    margin-bottom: rem(40px);
    text-align: center;
}

.user__text {
    padding-right: rem(30px);
}