// colors
$green: #00bfa5;
$darkGreen: #009688;
$gray: #455a64;
$dark: #373e42;
$orange: #e44845;

// backgrounds
$welcomeBg: '../images/bg/welcome_bg.jpg';
$headerBg: '../images/bg/header_bg.jpg';
$worksBg: '../images/bg/works_bg.jpg';

// fonts
$ff-main: 'roboto';
$ff-titles: 'bernier';

// resolutions
$desktops: 1800px;
$laptops: 1200px;
$tablets: 768px;
$phones: 480px;